.page{
    padding-top: calc(var(--header-height) + 3px);
}

.page-box-bg {
    background-color: var(--very-light-col);
    border-bottom: 5px solid var(--dark-col);
    min-height: 50vh;
    padding-top: 2rem;
}

.err-page svg{
    height: 12.5rem;
    width: 12.5rem;
    fill: var(--error-col);
    display: block;
    margin: 0 auto 2rem auto;
}

.err-page h1{
    font-weight: bold;
    font-size: 3rem;
    padding: 0px 30px;
    
    color: var(--very-dark-col);
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.err-page p{
    margin: auto;
    font-size: 2rem;
    padding: 20px 30px;

    color: var(--very-dark-col);
    line-height: normal;
    max-width: 800px;
    text-align: center;
}

.retry-btn{
    position: absolute;
    text-align: center;
    line-height: normal;

    inset: 85vh 0px;
    margin: auto;
    max-width: 400px;

    width: 80%;
    height: 80px;
    border-radius: 20px;
    font-size: 3rem;
}