.prompt-title{
    font-size: 2rem;
    margin: 10px;
}

.prompt-text{
    font-size: 1.2rem;
    margin: 10px;
}

.confirm-btn{
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 10%;
    text-align: center;
}

.confirm-btn svg{
    float: left;
    height: 30px;
    width: 30px;
}