/* Personalizzazione della checkbox */
.custom-checkbox {
    appearance: none;
    /* Rimuove lo stile predefinito del browser */
    -webkit-appearance: none;
    /* Per Safari */
    width: 40px;
    /* Larghezza della checkbox */
    height: 40px;
    /* Altezza della checkbox */
    border: 2px solid #fff;
    /* Bordo */
    border-radius: 4px;
    /* Bordo arrotondato */
    background-color: gray;
    /* Sfondo */
    cursor: pointer;
    /* Indica che è cliccabile */
    position: relative;
    /* Necessario per il checkmark */
}

.custom-checkbox:checked {
    background-color: #ffc107;
    /* Colore di sfondo quando è selezionata */
    border-color: #ffc107;
    /* Cambia colore del bordo */
}

.custom-checkbox:checked::before {
    content: '';
    /* Elemento visivo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* Centra e ruota */
    width: 12px;
    /* Dimensione del checkmark */
    height: 18px;
    /* Altezza del checkmark */
    border: solid white;
    /* Stile del checkmark */
    border-width: 0 0 4px 4px;
    /* Spessore del checkmark aumentato */
}

.custom-text {
    font-size: 1.7rem;
    /* Aumenta la dimensione del testo */
    font-weight: bold;
    /* Rende il testo in grassetto */
}