.product-header{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "img ."
    "img .";
}

.product-header img{
    grid-area: img;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.product-name {
    font-size: 2rem;
    margin: 0px;
    color: var(--very-dark-col);
    font-weight: bold;
    text-align: center;
}

.product-price {
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    font-weight: normal;
}

.product-description {
    font-size: 1.5rem;
}

.product-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 2.5rem) 5rem calc(50% - 2.5rem);
}

.allergen-btn, .edit-btn, .buy-btn{
    height: fit-content;
    display: flex;
    font-size: 1.2rem;
    margin: auto;
}

.double-col-size{
    grid-column: 2 / 4;
}

.allergen-btn{
    padding: 5px 5px;
    border:none;
    color: var(--very-dark-col);
    background-color: hsla(0, 0%, 71%, 0.5);
    border-radius: 10px;
}

.allergen-btn svg{
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--very-dark-col);
}

.edit-btn{
    text-decoration: none;
    padding: 5px 5px;
    border:none;
    color: #333CFF;
    background-color: hsla(232, 98%, 76%, 0.50);
    border-radius: 10px;
}

.edit-btn svg{
    height: 1.5rem;
    width: 1.5rem;
    fill: #333CFF;
}

.buy-btn{
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    background-color: var(--medium-col);
}

.buy-btn .cart-icon{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin: auto;
}

.buy-btn .tic-icon{
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 0.75rem;
    opacity: 0;
}

.buy-anim .cart-icon{
    animation-name: buy-cart;
    animation-duration: 2s;
}

.buy-anim .tic-icon{
    animation-name: buy-tic;
    animation-duration: 2s;
}

@keyframes buy-tic {
    0%{
        transform: scale(.1,.1);
        top: 2.5rem;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform: scale(1,1);
        translate: 0px -3rem;
        opacity: 1;
    }
    55%{
        transform: scale(1,1);
        translate: 0px -3rem;
        opacity: 1;
    }
    85%{
        transform: scale(0,0);
        translate: 0px 4rem;
    }
    95%{
        opacity: 0;
        top: 2.5rem;
    }
}

@keyframes buy-cart {
    25%{
        translate: 0px 1rem;
    }
    65%{
        transform: scale(1,1);
    }
    70%{
        transform: scale(1.1,0.9);
    }
    85%{
        transform: scale(1,1);
        opacity: 1;
        translate: 0px 1rem;
    }
}

.product-allergen{
    font-size: 1.5rem;
}
