body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url("./assets/bg.svg"), linear-gradient(#fff0cf, #fff0cf);
    background-attachment: fixed;
    background-size: cover;
    animation-iteration-count: infinite;
    color: #1e1e1e;
}

#root {
    /* GENERAL COLOR */
    --very-dark-col: #3d3d3d;
    --dark-col: #df730e;
    --medium-col: #32a10a;
    --light-col: #b9d4b4;
    --very-light-col: #f2f2ff;
    --error-col: #c41818;

    --header-height: 80px;
}

@media (max-height: 700px) {
    html {
        font-size: 12px;
    }

    #root {
        --header-height: 60px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }

    #root {
        --header-height: 60px;
    }
}

/* DARK BUTTON */
.dark-btn {
    border-style: solid;
    background-color: var(--dark-col);
    color: var(--very-light-col);
    border-color: var(--very-light-col);
}

.dark-btn svg {
    fill: var(--very-light-col);
}

.dark-btn-inverse {
    border-style: solid;
    background-color: var(--very-light-col);
    color: var(--very-dark-col);
    border-color: var(--dark-col);
}

.dark-btn-inverse svg {
    fill: var(--dark-col);
}

/* LIGHT BUTTON */
.light-btn {
    border-style: solid;
    background-color: var(--medium-col);
    color: var(--very-light-col);
    border-color: var(--very-light-col);
}

.light-btn svg {
    fill: var(--very-light-col);
}

.light-btn-inverse {
    border-style: solid;
    background-color: var(--very-light-col);
    color: var(--very-dark-col);
    border-color: var(--medium-col);
}

.light-btn-inverse svg {
    fill: var(--medium-col);
}

/* ERROR BUTTON */
.err-btn {
    border-style: solid;
    background-color: var(--error-col);
    color: var(--very-light-col);
    border-color: var(--very-light-col);
}

.err-btn svg {
    fill: var(--very-light-col);
}

.dark-btn:active,
.dark-btn-inverse:active,
.light-btn:active,
.light-btn-inverse:active,
.err-btn:active {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.150);
}