body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url("./assets/bg.webp"), linear-gradient(#34c300,#b9d4b4);
    background-attachment: fixed;
    background-size: cover;
    animation-iteration-count: infinite;
    color: #1e1e1e;
}

#root{
    /* GENERAL COLOR */
    --very-dark-col: #1e1e1e;
    --dark-col: #067513;
    --medium-col: #34c300;
    --light-col: #b9d4b4;
    --very-light-col: #f2f2ff;
    --error-col: #c41818;

    /* BUTTONS THEMES */
    /* Dark button color */
    --dark-btn-bg: #067513;
    --dark-btn-text: #f2f2ff;
    --dark-btn-border: #f2f2ff;
    --dark-btn-inv-text: #1e1e1e;
    /* light button color */
    --light-btn-bg: #32a10a;
    --light-btn-text: #f2f2ff;
    --light-btn-border: #f2f2ff;
    --light-btn-inv-text: #1e1e1e;
}

/* DARK BUTTON */
.dark-btn{
    border-style: solid;
    background-color: var(--dark-btn-bg);
    color: var(--dark-btn-text);
    border-color: var(--dark-btn-border);
}

.dark-btn svg{
    fill: var(--dark-btn-text);
}

.dark-btn-inverse{
    border-style: solid;
    background-color: var(--dark-btn-text);
    color: var(--dark-btn-inv-text);
    border-color: var(--dark-btn-bg);
}

.dark-btn-inverse svg{
    fill: var(--dark-btn-bg);
}

/* LIGHT BUTTON */
.light-btn{
    border-style: solid;
    background-color: var(--light-btn-bg);
    color: var(--light-btn-text);
    border-color: var(--light-btn-border);
}

.light-btn svg{
    fill: var(--light-btn-text);
}

.light-btn-inverse{
    border-style: solid;
    background-color: var(--light-btn-text);
    color: var(--light-btn-inv-text);
    border-color: var(--light-btn-bg);
}

.light-btn-inverse svg{
    fill: var(--light-btn-bg);
}